<!-- <header>
    <div class="header">
            <h1>Sistema Escolar</h1>
        <div class="optionsBar">
            <p>Peru , {{fecha}}	</p>
            <span>|</span>
            <img class="photouser" src="img/user.png" alt="Usuario">
            <span class="user"><?php echo $_SESSION['user'];?></span>
            <a href="salir.php"><img class="close" src="img/salir.png" alt="Salir del sistema" title="Salir"></a>
        </div>
    </div>

</header>
 -->

 <header>
    <div class="wrapper">
        <div class="container-fluid">
            <!-- BARRA NAVEGACIÓN -->
            <div class="bg-light">
                <nav class="navbar navbar-expand-md navbar-light bg-light border-3 border-bottom border-primary">
                    <div class="container-fluid">
                        <a href="principal.html" class="navbar-brand">Abiru</a>
                      
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                            data-bs-target="#MenuNavegacion">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    </div>

                    <div id="MenuNavegacion" class="collapse navbar-collapse">
                        <ul class="navbar-nav ms-3">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Directorio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Servicios</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                    Nosotros
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Manuales</a></li>
                                    <li><a class="dropdown-item" href="#">Cuestionarios</a></li>
                                    <li><a class="dropdown-item" href="#">Consultas</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-3">
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" href="inicio_sesion.php">Iniciar sesión</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>  
            </div>
    </div>
</header>